.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    margin-top: 10em;
  }

  .center1 {
   
  
    margin-top: 10em;
  }

  .center-logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 10%;
    margin-top: 10em;
  }

.button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    border: 0;
   }

   .button-main {
    
    margin-top: 1em;
    border: 0;
   }

.button2 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
    background-color: #4C8EFA;
    border-color: #4C8EFA;
    color: white;
   }

   label {
    display: inline-block;
    width: 280px;
    text-align: left;
  }​